body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 2px solid #5f9341;
    padding: 10px;
}

button {
    background: #5f9341;
    padding: 4px;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}
